<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aragorn</title>
  <style>
    .container {
      display: flex;
      align-items: center;
    }

    .character-info {
      margin-left: 20px;
    }

    .quote-placeholder {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <!--  image -->
    <img src="assets/characters/aragorn.jpg" alt="Aragorn">

    <!-- Aragorn information paragraph -->
    <div class="character-info">
      <p>Aragorn II, son of Arathorn II and Gilraen, also known as Strider and Elessar, was the 16th and last Chieftain of the Dúnedain of the North; later crowned King Elessar Telcontar (March 1, 2931 - FO 120), the 26th King of Arnor, 35th King of Gondor and first High King of Gondor and Arnor since the short reign of Isildur. He was a great ranger and warrior, and bore, as Isildur's heir, the shards of Narsil, reforged and renamed Andúril ("Flame of the West") in the War of the Ring.</p>
    </div>
  </div>

  <!-- Quote placeholder -->
  <div class="quote-placeholder">
    <p>
      You may generate a quote or return to the selection screen! Make your choice
      carefully, once gone you may not see this quote again!
    </p>
    <!-- Add save placeholder button here -->
    <div *ngIf="quote">
      <p>Quote: {{ quote }}</p>
    </div>
    <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>
    <button (click)="fetchNewQuote()">New Quote</button>
    <button routerLink="/home">Back</button>
  </div>
</body>

