<div class="background-container">
  <div class="menu-bar">
  </div>
  <div class="introductory-paragraph">
    <!-- Welcome message -->
    <p>Welcome to Tolkien Quotes! Please click on a character to learn about a character and generate a quote.</p>
  </div>
  <!-- Character buttons -->
  <div class="character-buttons">
    <!-- Replace the URLs with the actual image URLs -->
    <a routerLink="gandalf" class="character-tooltip" data-tooltip="Gandalf"><img src="/assets/characters/gandalf.jpg" alt="Gandalf"></a>
    <a routerLink="frodo" class="character-tooltip" data-tooltip="Frodo"><img src="/assets/characters/frodo.jpg" alt="Frodo"></a>
    <a routerLink="aragorn" class="character-tooltip" data-tooltip="Aragorn"><img src="/assets/characters/aragorn.jpg" alt="Aragorn"></a>
    <a routerLink="legolas" class="character-tooltip" data-tooltip="Legolas"><img src="/assets/characters/legolas.jpg" alt="Legolas"></a>
    <a routerLink="gollum" class="character-tooltip" data-tooltip="Gollum"><img src="/assets/characters/gollum.jpg" alt="Gollum"></a>
    <a routerLink="arwen" class="character-tooltip" data-tooltip="Arwen"><img src="/assets/characters/arwen.jpg" alt="Arwen"></a>
    <a routerLink="bilbo" class="character-tooltip" data-tooltip="Bilbo"><img src="/assets/characters/bilbo.jpg" alt="Bilbo"></a>
    <a routerLink="elrond" class="character-tooltip" data-tooltip="Elrond"><img src="/assets/characters/elrond.jpg" alt="Elrond"></a>
    <a routerLink="gimili" class="character-tooltip" data-tooltip="Gimili"><img src="/assets/characters/gimili.jpg" alt="Gimili"></a>
    <a routerLink="samwise" class="character-tooltip" data-tooltip="Samwise"><img src="/assets/characters/samwise.jpg" alt="Samwise"></a>
  </div>

</div>
